{
  "openapi": "3.0.1",
  "info": {
    "title": "Health API",
    "version": "0"
  },
  "servers": [
    {
      "url": "https://apis.garmin.com/wellness-api",
      "description": "Prod"
    }
  ],
  "paths": {
    "/rest/userMetrics": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "User Metrics are per-user calculations performed by Garmin based on the underlying data uploaded from the userâ€™s device.\nThis data can be specific to a single device and field availability is dependent on device model support\n",
        "operationId": "GET_USER_METRICS",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientUserMetrics"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/user/permissions": {
      "get": {
        "tags": [
          "User Controller"
        ],
        "operationId": "GET_USER_PERMISSIONS",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ClientConsumerPermissions"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/user/id": {
      "get": {
        "tags": [
          "User API"
        ],
        "description": "Get the Health API ID for this user. This ID will persist across multiple User Access Tokens generated by the same user.",
        "operationId": "USER_ID",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClientUserId"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/stressDetails": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "Stress Details summaries contain the userâ€™s stress level values for a given day.\nStress levels are provided as 3-minute averages of the real-time stress scores generated on the device.\nStress values from the Health API are exactly the stress values shown on Garmin Connect.\n",
        "operationId": "GET_STRESS_DETAILS",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientStress"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/solarIntensity": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "retrieve a list of Solar summary",
        "operationId": "GET_SOLAR",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientSolar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/sleeps": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "Sleep summaries are data records representing how long the user slept and the automatically classified sleep levels during that sleep event\n(e.g. light, deep periods) based on data generated by the userâ€™s device.\nUnlike Daily summaries which are associated with a given day on a midnight-to-midnight basis,\nSleep summaries are associated with a userâ€™s overnight sleep range. Most will start on one calendar day and end on the next calendar day,\nbut it is possible for two different Sleep summaries to begin on the same day if, for example,\nthe user goes to bed after midnight, wakes up, and then goes to bed prior to midnight the next evening.\n\nTip: Many Garmin devices attempt to auto-sync data during the night while the user is asleep and the smartphone is charging.\nThis may result in an incomplete Sleep summary record. It is important to update sleep data with the most recent\ndata provided on subsequent ping notifications to get an accurate and full representation of the sleep window. See the â€œvalidationâ€ parameter for more details.\n",
        "operationId": "GET_SLEEPS",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientSleep"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/skinTemp": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "retrieve a list of skin temp summary",
        "operationId": "GET_SKIN_TEMP",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientSkinTemp"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/respiration": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "Respiration is a feature available on some Garmin devices that tracks breathing rate throughout the day, during sleep, and during activities.",
        "operationId": "GET_RESPIRATION",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientRespiration"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/pulseOx": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "Pulse Ox summaries contain blood oxygen saturation data.",
        "operationId": "GET_PULSEOX",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientDailySpo2Acclimation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/moveiq": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "Move IQ Event summaries are a feed of activities which have been automatically detected by the device based on movement patterns,\nlike running or biking. These are not activities initiated by the user. Please note that wellness data, like steps and distance,\nfrom Move IQ events are already included in the Daily and Epoch summaries.\n",
        "operationId": "GET_MOVE_IQ",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientAutoActivityMoveIq"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/mct": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "The Menstrual Cycle Tracking feature available on some Garmin devices allows users to track information\nabout their cycle schedule and log symptoms. The MCT Summary only returns information related to cycle\nschedule and does not make the information about symptoms available.\n",
        "operationId": "GET_MCT",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientSummarizedMenstrualCycle"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/manuallyUpdatedActivities": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "Manual activities are created or edited by the user directly on the Connect site and not uploaded from a device.\nManual activities can be identified by the property â€˜manualâ€™ = true and are separated out in to their own summary data type to allow greater control.\nThis field will only exist if the activity is manually created or edited.\n",
        "operationId": "GET_MANUALLY_UPDATED_ACTIVITIES",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientActivity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/hrv": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "Heart rate variability (HRV) refers to beat-to-beat variations in heart rate and is data collected during\nthe overnight sleep window for select devices. To gain a deeper understanding of your overall health,\nrecovery and training performance through heart rate variability while you sleep.\n",
        "operationId": "GET_HRV",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientHRVSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/healthSnapshot": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "The Garmin Health Snapshot is a collection of key health-related insights recorded during a two-minute session on a compatible device.\nHeart rate (HR), heart rate variability (HRV), Pulse Ox, respiration, and stress are the metrics included this summary,\nwhich collectively provide you a glimpse of your overall cardiovascular status.\n",
        "operationId": "GET_HEALTHSNAPSHOT",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientHealthSnapshot"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/epochs": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "This service provides the ability to retrieve a list of summaries containing wellness data for a specific time range.\nEpoch summary records contain much of the same data available in Daily summaries, but with 15-minute time-slice granularity.\nThere is one record for each activity type monitored within an individual epoch.\n",
        "operationId": "GET_EPOCHS",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientEpoch"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/dailies": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "Daily summaries offer a high-level view of the userâ€™s entire day.",
        "operationId": "GET_DAILIES",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientDaily"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/bodyComps": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "Body Composition summaries contain information about the userâ€™s biometric data, like weight or body mass index.",
        "operationId": "GET_BODY_COMPS",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientBodyComp"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/bloodPressures": {
      "get": {
        "tags": [
          "Summary Endpoints"
        ],
        "description": "retrieve a list of one or more blood pressure summaries",
        "operationId": "GET_BLOOD_PRESSURES",
        "parameters": [
          {
            "name": "uploadStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search.\nIf this parameter is used it must be paired with uploadEndTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search.\nIf this parameter is used it must be paired with uploadStartTimeInSeconds only.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Pull token required for OAuth2 integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientBloodPressure"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/backfill/userMetrics": {
      "get": {
        "tags": [
          "Summary Backfill"
        ],
        "operationId": "GET_BACKFILL_USER_METRICS",
        "parameters": [
          {
            "name": "summaryStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/backfill/stressDetails": {
      "get": {
        "tags": [
          "Summary Backfill"
        ],
        "operationId": "GET_BACKFILL_STRESS_DETAILS",
        "parameters": [
          {
            "name": "summaryStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/backfill/sleeps": {
      "get": {
        "tags": [
          "Summary Backfill"
        ],
        "operationId": "GET_BACKFILL_SLEEPS",
        "parameters": [
          {
            "name": "summaryStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/backfill/skinTemp": {
      "get": {
        "tags": [
          "Summary Backfill"
        ],
        "operationId": "GET_BACKFILL_SKIN_TEMP",
        "parameters": [
          {
            "name": "summaryStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/backfill/respiration": {
      "get": {
        "tags": [
          "Summary Backfill"
        ],
        "operationId": "GET_BACKFILL_RESPIRATION_EPOCH",
        "parameters": [
          {
            "name": "summaryStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/backfill/pulseOx": {
      "get": {
        "tags": [
          "Summary Backfill"
        ],
        "operationId": "GET_BACKFILL_PULSEOX",
        "parameters": [
          {
            "name": "summaryStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/backfill/moveiq": {
      "get": {
        "tags": [
          "Summary Backfill"
        ],
        "operationId": "GET_BACKFILL_AUTO_ACTIVITY_MOVEIQ",
        "parameters": [
          {
            "name": "summaryStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/backfill/mct": {
      "get": {
        "tags": [
          "Summary Backfill"
        ],
        "operationId": "GET_BACKFILL_MCT",
        "parameters": [
          {
            "name": "summaryStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/backfill/hrv": {
      "get": {
        "tags": [
          "Summary Backfill"
        ],
        "operationId": "GET_BACKFILL_HRV",
        "parameters": [
          {
            "name": "summaryStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/backfill/healthSnapshot": {
      "get": {
        "tags": [
          "Summary Backfill"
        ],
        "operationId": "GET_BACKFILL_HEALTH_SNAPSHOT",
        "parameters": [
          {
            "name": "summaryStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/rest/backfill/epochs": {
      "get": {
        "tags": [
          "Summary Backfill"
        ],
        "operationId": "GET_BACKFILL_EPOCHS",
        "parameters": [
          {
            "name": "summaryStartTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the beginning of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summaryEndTimeInSeconds",
            "in": "query",
            "description": "A UTC timestamp representing the end of the time range to search. This is a required parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
[...]
